<div class="card-container" *ngIf="products$ | async as products; else loading">
  @for (i of products; track $index) {
          <div class="card-wrapper" [ngClass]="{'last-in-row':($index+1)%3===0}" >
              <mat-card class="example-card">
                  <mat-card-header>
                  <mat-card-title-group>
                      <mat-card-title>{{i.id}}</mat-card-title>
                      <mat-card-subtitle>Titulo: {{i.title}}</mat-card-subtitle>
                      <mat-card-subtitle>Descripción: {{i.description}}</mat-card-subtitle>
                      <mat-card-subtitle>Categoria: {{i.category}}</mat-card-subtitle>
                      <img mat-card-xl-image [src]="i.image" >
                  </mat-card-title-group>
                  </mat-card-header>
                  <mat-card-content>
                  </mat-card-content>
              </mat-card>
          </div>
  }
</div>


<ng-template #loading>
  Cargando productos...
</ng-template>

